/*=== tabs glance end here  ===*/
.glance-block {
  &.borderTop {
    border-top: 1px solid $lightgraylight-200;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
  }
  .glance-item {
    position: relative;
    font-family: $font-family-roboto-slab;
    .glance-item--inner {
      display: inline-block;
      .glance-name {
        color: $darkblue;
        font-size: $font-size-base * 1.2;
        font-weight: $font-weight-semibold;
      }
      .glance-number {
        font-size: $font-size-base * 1.5;
        color: $darkblue;
        font-weight: $font-weight-semibold;
      }
    }
  }
}
/*=== tabs glance end here  ===*/

/*====== Glance Block css start here ======*/
.section-glance {
  background-position: bottom center;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    @include trbl-0;
    @include wh-100;
    background-color: rgba($mediumblue, 80%);
    z-index: 0;
  }
  .glance {
    @include pm-0;
    position: relative;
    z-index: 2;
    .glance__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 3rem;
    }
    @media (max-width: 1200px) {
      .glance__list {
        grid-template-columns: auto auto auto;
        grid-row-gap: 3rem;
      }
    }
    @media (max-width: 768px) {
      .glance__list {
        grid-template-columns: auto auto;
        grid-row-gap: 3rem;
      }
    }
  }
}
.glance__list___item {
  font-family: $font-family-roboto-slab;
  .glance-number {
    font-size: $font-size-base * 5.8;
    font-weight: $font-weight-semibold;
    color: $white;
  }
  .glance-name {
    font-size: $font-size-base * 1.8;
    font-family: $font-family-open-sans;
    color: $white;
  }
}
@media (max-width: 1200px) {
  .glance__list___item {
    .glance-number {
      font-size: $font-size-base * 3;
      text-align: center;
    }
    .glance-name {
      font-size: $font-size-base;
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  .glance__list___item {
    .glance-number {
      font-size: $font-size-base * 3;
      text-align: center;
    }
    .glance-name {
      font-size: $font-size-base;
      text-align: center;
    }
  }
}
/*====== Glance Block css start here ======*/
