@import 'mixin';
.slider-home {
  position: relative;
  width: $full100;
  height: 100%;
  // min-height: 8vw;
  opacity: $opacity;
  visibility: hidden;
  user-select: inherit;
  //visibility: visible;
  transition: $transition-base102;
  .slider__caption {
    color: $white;
    transition: $transition-base103;
    background-color: $mediumblue;
    position: relative;
    z-index: 105;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 15px;
    .slider__detail {
      text-align: left;
      h3 {
        font-size: $font-size-base * 1.5;
        font-family: $font-family-roboto-slab;
        font-weight: $font-weight-bold;
        line-height: $line-height-sm;
        color: $white;
        margin-bottom: 1.2rem;
      }
      [dir='rtl'] h3 {
        font-size: $font-size-base * 3.66;
      }
      @media (min-width: 768px) {
        h3 {
          font-size: $font-size-base * 2.5;
        }
        [dir='rtl'] h3 {
          font-size: $font-size-base * 2.5;
        }
      }
      @media (min-width: 1200px) {
        h3 {
          font-size: $font-size-base * 3.66;
        }
        [dir='rtl'] h3 {
          font-size: $font-size-base * 3.66;
        }
      }
      p {
        font-size: $font-size-base * 1.8;
        font-family: $font-family-open-sans;
        font-weight: $font-weight-normal;
        margin-bottom: 1.8rem;
        color: $white;
        letter-spacing: 0;
      }
      @media (max-width: 1440px) {
        p {
          font-size: $font-size-base * 1.33;
        }
      }
      @media (max-width: 1200px) {
        p {
          font-size: $font-size-base * 1.2;
        }
      }
      @media (max-width: 992px) {
        p {
          margin-bottom: 5px;
        }
      }
      @media (max-width: 767px) {
        p {
          font-size: $font-size-base * 1.066;
        }
      }
      .h-btn-link-primary {
        color: $white;
        &:hover {
          color: $darkblue;
        }
      }
      @media (min-width: 992px) {
        .h-btn-link-primary {
          color: $white;
          &:hover {
            color: $lightblue;
          }
          &:after {
            background-color: $lightblue;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      .slider__detail {
        width: 80%;
      }
    }
  }
  @media (min-width: 992px) {
    .slider__caption {
      background-color: transparent;
      position: absolute;
      bottom: 25%;
      left: 0;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .slick-slide {
    @include backfaceVisibilityHidden;
    position: relative;
    min-height: 320px;
    user-select: inherit;
    &:before {
      @include backfaceVisibilityHidden;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.6) 50%
      );
      z-index: 1;
      content: '';
      position: absolute;
      @include tl-0;
      @include wh-100;
    }
    .slider-home__item {
      display: none;
      height: $full100;
      video,
      iframe {
        width: $full100;
      }
      @media (min-width: 992px) {
        video,
        figure {
          display: block;
          position: absolute;
          top: $half50;
          left: $half50;
          min-width: $full100;
          min-height: $full100;
          width: auto;
          height: auto;
          transform: translate(-50%, -50%);
        }
      }
      iframe {
        position: relative;
        pointer-events: none;
      }
      figure {
        // position: relative;
        height: $full100;
        margin: 0;
        .slide-image {
          opacity: $opacity;
          height: $full100;
          background-size: cover;
          background-position: center;
          transition: $transition-base08;
          &.show {
            opacity: $opacity-100;
          }
          .image-entity {
            width: $full100;
            opacity: $opacity;
            visibility: hidden;
          }
        }
      }
      .loading {
        position: absolute;
        top: 44%;
        left: 0;
        width: $full100;
      }
      &.homeCountDown {
        @include pm-0;
        .countdown {
          color: $white;
          padding-bottom: 25px;
          margin-bottom: 15px;
          border-bottom: 1px solid rgba($white, 50%);
          .countdown_list {
            &:before {
              color: $white;
            }
          }
        }
      }
      &.homeEvent {
        .eventInfo {
          @include w-100;
          color: $darkblue;
          font-family: $font-family-roboto-slab;
          .item_date {
            background-color: $white;
            display: inline-flex;
            border-radius: 12px;
            padding: 10px;
            margin-bottom: 20px;
            .eventDate {
              text-align: center;
              white-space: nowrap;
              span {
                display: block;
              }
              .month {
                font-size: $font-size-base * 0.8;
                text-transform: uppercase;
                letter-spacing: 1px;
              }
              .date {
                font-size: $font-size-base * 2.5;
                line-height: 1;
              }
              .year {
                font-size: $font-size-base * 0.8;
                letter-spacing: 1px;
              }
              @media (min-width: 992px) {
                .date {
                  font-size: $font-size-base * 3;
                }
              }
              @media (min-width: 1200px) {
                .date {
                  font-size: $font-size-base * 5;
                }
              }
              &:last-child {
                position: relative;
                padding-left: 8px;
                margin-left: 8px;
                &:before {
                  content: '-';
                  font-family: 'fontawesome';
                  font-size: 2rem;
                  padding: 0;
                  margin: 0;
                  position: absolute;
                  left: -6px;
                  top: 50%;
                  line-height: 0;
                }
              }
              &:first-child {
                &:before {
                  display: none;
                }
              }
            }
          }
          @media (min-width: 992px) {
            .item_date {
              padding: 25px 20px;
              margin-right: 30px;
              margin-bottom: 0;
            }
          }
          @media (min-width: 1200px) {
            .item_date {
              padding: 35px 30px;
              margin-right: 40px;
              margin-bottom: 0;
              max-height: 185px;
            }
          }
        }
        @media (min-width: 992px) {
          .eventInfo {
            display: flex;
          }
        }
      }
    }
    &.slick-active {
      z-index: 1;
      .slider-home__item {
        display: block !important;
        &.video {
          .slider__caption {
            transform: translateY(-7px);
          }
        }
      }
      .slide-media {
        -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
        animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
      }
      .slider__caption {
        opacity: $opacity-100;
        transform: translateY(0);
        transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
      }
    }
    .slide-media {
      -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
      animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }
  }
  @media (min-width: 992px) {
    .slick-slide {
      height: 700px;
    }
  }
  // @media (min-width: 1200px) {
  //   .slick-slide {
  //     height: 820px;
  //   }
  // }
  @media (min-width: 1640px) {
    .slick-slide {
      height: 920px;
    }
  }
  &.slick-initialized {
    opacity: $opacity-100;
    visibility: visible;
  }
  .slick-dots {
    text-align: left;
    position: absolute;
    bottom: 40px;
    z-index: 2;
    // width: 100%;
    // max-width: 1536px;
    margin: 0 auto;
    padding: 0;
    right: 0;
    left: 0;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 6px;
      button {
        width: 12px;
        height: 12px;
        border: none;
        cursor: pointer;
        border-radius: $border-radius-50;
        box-shadow: 0 0 0 0 transparent;
        vertical-align: middle;
        color: $white;
        background-color: $lightblue;
        transition: $transition-base03;
        text-indent: -999999px;
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: $opacity-100;
        }
      }
      @media (max-width: 991px) {
        button {
          background-color: $white;
        }
      }
      &.slick-active {
        button {
          box-shadow: 0 0 0 2px rgba($white, 30%);
          background-color: $white;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .slick-dots {
      bottom: -8px;
    }
  }
  .slick-arrow {
    color: $white;
    width: 35px;
    height: 35px;
    &.slick-next {
      right: 0;
    }
    &.slick-prev {
      left: 0;
    }
    @media (max-width: 991px) {
      &.slick-next {
        right: 0;
      }
      &.slick-prev {
        left: 0;
      }
    }
  }
}
@-webkit-keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
}
