@import 'mixin';
/*====== News Block css start here ====== */
.title_head {
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  h1 {
    display: inline-block;
    margin-bottom: 0;
  }
}
.newsList {
  @include pm-0;
  font-family: $font-family-roboto-slab;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6rem;
  &.newsList__slide {
    grid-gap: 0;
    .newsList__item {
      padding: 0 10px;
    }
    @media (min-width: 768px) {
      .newsList__item {
        padding: 0 20px;
      }
    }
    @media (min-width: 1200px) {
      .newsList__item {
        padding: 0 40px;
      }
    }
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
}
.newsList__item {
  @include pm-0;
  a {
    @include pm-0;
    text-decoration: none;
    color: inherit;
    .newsList__item--img {
      margin-bottom: 1.9rem;
    }
    .newsList__item--tag {
      color: $mediumblue;
      font-size: $font-size-base * 0.6875;
      padding: 0.3rem 0 0;
      text-transform: uppercase;
      font-family: $font-family-open-sans;
    }
    .newsList__item--entity {
      font-size: $font-size-base * 0.9;
      color: $darkblue;
      padding: 0.1rem 0;
      font-weight: $font-weight-light;
      font-family: $font-family-open-sans;
    }
    .newsList__item--title {
      font-size: $font-size-base * 1.3;
      color: $darkblue;
      padding: 0.3rem 0;
      line-height: 1.4;
    }
    .newsList__item--date {
      color: $darkgray-200;
      font-size: $font-size-base * 0.6875;
      font-family: $font-family-open-sans;
    }
    @media (max-width: 768px) {
      .newsList__item--title {
        font-size: $font-size-base;
      }
    }
  }
}
/*====== News Block css end here ======*/
/*====== News details page css start here ======*/
/* spotlight starts here */
.spotlight {
  position: relative;
  overflow: hidden;
  height: 400px;
}
@media (max-width: 992px) {
  .spotlight {
    height: 320px;
  }
}
@media (max-width: 767px) {
  .spotlight {
    height: auto;
  }
}
.spotlight:before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 992px) {
  .spotlight {
    min-height: 1px;
  }
}

.spotlight img {
  opacity: 0;
  height: 100%;
  min-height: 320px;
}

@media (max-width: 992px) {
  .spotlight img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .spotlight img {
    min-height: 200px;
    width: 100%;
  }
}

.spotlight h1 {
  font-size: 3.1333333333rem;
  color: #fff;
  padding: 15px 0 30px;
  margin: 0;
}
.spotlight p {
  color: #fff;
}
.spotlight .spotlight__title {
  max-width: 75%;
}
@media (max-width: 992px) {
  .spotlight .spotlight__title {
    max-width: 100%;
  }
  .spotlight h1 {
    padding: 10px 0 20px;
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .spotlight h1 {
    font-size: 1.4666666667rem;
  }
}
@media (max-width: 540px) {
  .spotlight .l-breadcrumb {
    padding-bottom: 10px;
  }
}
.spotlight .l-breadcrumb .container {
  padding: 0;
}
.spotlight .spotlight__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.spotlight .spotlight__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  z-index: 3;
  width: 100%;
}

@media (max-width: 767px) {
  .spotlight .spotlight__content {
    background: #157dba;
    height: auto;
    position: relative;
    z-index: 5;
    bottom: 0;
    padding: 10px 0 20px;
  }
  .spotlight p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .breadcrumb-wrap {
    display: none;
  }
}

@media (max-width: 767px) {
  .spotlight .spotlight__slider {
    position: static;
  }
}

.spotlight .spotlight__slider div {
  height: 100% !important;
}

@media (max-width: 767px) {
  .spotlight .spotlight__slider div {
    height: auto !important;
  }
}

/*====== News details page css end here ======*/
