@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (min-width: 1700px) {
  .container {
    max-width: 1536px;
  }
}
.col-row {
  padding: 0;
  margin-bottom: 2rem;
  li {
    list-style: none;
    display: inline-block;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Roboto Slab', serif;
  color: #1c1953;
}
h6,
.h6 {
  font-family: 'Roboto', sans-serif;
  color: #1c1953;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
}
h1.big,
.h1.big {
  font-size: 4.5rem;
}
@media (max-width: 992px) {
  h1.big,
  .h1.big {
    font-size: 2.5rem;
  }
}
p,
.p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

input,
input.form-control {
  line-height: normal;
  padding: 0.85rem 0.85rem;
  border: none;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
.bg-muted {
  background-color: #f2f2f2 !important;
}
a.bg-muted:focus,
a.bg-muted:hover {
  background-color: #f2f2f2 !important;
}
.bg-muted-light {
  background-color: #fafafa !important;
}
a.bg-muted-light:focus,
a.bg-muted-light:hover {
  background-color: #f2f2f2 !important;
}
.bg-primary {
  background-color: #1e1656 !important;
}
a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #1e1656 !important;
}
.bg-medium-blue {
  background-color: #0088ce !important;
}
a.bg-medium-blue:focus,
a.bg-medium-blue:hover {
  background-color: #0088ce !important;
}
.bg-medium-blue-azure {
  background-color: #0095fb !important;
}
.bg-black {
  background-color: #000000 !important;
}
.bg-black-light {
  background-color: #333333 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.text-muted {
  color: #f2f2f2 !important;
}
.text-muted-light {
  color: #fafafa !important;
}
.text-primary {
  color: #1e1656 !important;
}
.text-medium-blue {
  color: #0088ce !important;
}
.text-medium-blue-azure {
  color: #0095fb !important;
}
.text-black {
  color: #000000 !important;
}
.text-black-light {
  color: #333333 !important;
}
.text-white {
  color: #ffffff !important;
}
.l-wrap {
  background: #ffffff;
  padding: 100px 0;
  margin: 0;
}
.m-wrap {
  background: #ffffff;
  padding: 60px 0;
  margin: 0;
}
.s-wrap {
  background: #ffffff;
  padding: 40px 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .l-wrap {
    padding: 60px 0;
  }
}

@media (max-width: 992px) {
  .l-wrap {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .l-wrap {
    padding: 20px 0;
  }
  .m-wrap {
    padding: 30px 0;
  }
}

.l-wrap section:last-child {
  margin-bottom: 0;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.openSans {
  font-family: 'Open Sans', sans-serif;
}
.robotoSlab {
  font-family: 'Roboto Slab', serif;
}
.h-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 15px 35px;
  position: relative;
  font-size: 1rem;
  line-height: 1.42857143;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  min-width: 185px;
  letter-spacing: 1.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.btn-small {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &:hover {
    background-color: #737373;
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
      left: -1px;
      transition: 0.15s ease-in-out;
    }
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    opacity: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
    border-right: 0 solid transparent;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s;
    margin-top: 0;
    transition: 0.15s ease-in-out;
  }
  &:disabled,
  &.disabled {
    opacity: 0.3 !important;
    pointer-events: none !important;
  }
}
@media (max-width: 992px) {
  .h-btn {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.h-btn.h-btn-outline {
  background-color: transparent;
  border-color: #ccc;
  color: #333333;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    border-color: #dddddd;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s;
    margin-top: -5px;
    transition: 0.15s ease-in-out;
    transform: rotate(45deg);
  }
}
.h-btn.h-btn-link {
  color: #333333;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-transform: inherit;
  letter-spacing: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  i {
    font-size: 0.8rem;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0;
  }
  &:hover,
  &.active {
    color: #000000;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:after,
    &.active {
      width: 100%;
      transition: width 0.3s;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000000;
    transition: width 0.3s;
  }
  &:before {
    display: none !important;
  }
}
.h-btn-primary {
  color: #fff;
  background-color: #157dba;
  border-color: #157dba;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #00ccee;
    border-color: #00ccee;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &:active,
  &.active {
    color: #fff;
    background-color: #1e1656;
    border-color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &:focus {
    color: #fff;
    background-color: #1e1656;
    border-color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.h-btn-outline-primary {
  color: #157dba;
  background-color: transparent;
  border-color: #157dba;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.bg-outline-medium-blue {
    &:before {
      background-color: #0088ce;
    }
  }
  &.bg-outline-primary {
    &:before {
      background-color: #1e1656;
    }
  }
  &:hover {
    color: #157dba;
    background-color: transparent;
    border-color: #00ccee;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
      left: -5px;
    }
  }
  &:active {
    color: #157dba;
    background-color: transparent;
    border-color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    color: #157dba;
    background-color: transparent;
    border-color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s;
    margin-top: -5px;
    transition: 0.15s ease-in-out;
    transform: rotate(45deg);
  }
}
.h-btn-outline-white {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.bg-outline-medium-blue {
    &:before {
      background-color: #0088ce;
    }
  }
  &.bg-outline-primary {
    &:before {
      background-color: #1e1656;
    }
  }
  &:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: #00ccee;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
      left: -5px;
    }
  }
  &:active {
    color: #ffffff;
    background-color: transparent;
    border-color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: #00ccee;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s;
    margin-top: -5px;
    transition: 0.15s ease-in-out;
    transform: rotate(45deg);
  }
}
.h-btn.h-btn-link-primary {
  color: #157dba;
  background-color: transparent;
  padding: 0;
  margin: 0;
  min-width: auto;
  text-transform: inherit;
  letter-spacing: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  i {
    font-size: 0.8rem;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0;
  }
  &:hover,
  &.active {
    color: #1e1656;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:after,
    &.active {
      width: 100%;
      transition: width 0.3s;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #1c1953;
    transition: width 0.3s;
  }
  &:before {
    display: none !important;
  }
}
.h-btn.h-btn-link-white {
  color: #157dba;
  background-color: transparent;
  padding: 0;
  margin: 0;
  min-width: auto;
  text-transform: inherit;
  letter-spacing: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  i {
    font-size: 0.8rem;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0;
  }
  &:hover,
  &.active {
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:after,
    &.active {
      width: 100%;
      transition: width 0.3s;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: width 0.3s;
  }
  &:before {
    display: none !important;
  }
}
/*======= slick slider default css start here ======*/
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
  z-index: 5;
  font-size: 0;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 100%;
  transition: all 0.3s;
  background: transparent;
}
@media (max-width: 1200px) {
  .slick-slider .slick-arrow {
    width: 52px;
    height: 52px;
  }
}
@media (max-width: 992px) {
  .slick-slider .slick-arrow {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 767px) {
  .slick-slider .slick-arrow {
    width: 32px;
    height: 32px;
  }
}
.slick-slider .slick-arrow.slick-disabled {
  cursor: default;
  opacity: 0.5;
}
.slick-slider .slick-arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: all 0.3s;
}

.slick-slider .slick-arrow:before {
  content: '\f054';
  display: inline-block;
  font: normal normal normal 21px/1 FontAwesome;
  width: 23px;
  height: 19px;
  z-index: 1;
}
@media (max-width: 767px) {
  .slick-slider .slick-arrow:before {
    width: 15px;
  }
}

.slick-slider .slick-prev {
  left: -10px;
  -webkit-transform: translate(0%, -50%) rotate(-180deg);
  transform: translate(0%, -50%) rotate(-180deg);
}
.slick-slider .slick-next {
  right: -10px;
}

/*======= slick slider default css end here ======*/

/*======= entityTab css start here =======*/
.pl-c-logo {
  display: none !important;
}
.entityTab {
  nav {
    width: auto;
    display: inline-block;
    .nav-tabs {
      border-top: 1px solid #dee2e6;
      border-bottom: none;
      border-radius: 0 6px 0 0;
      .nav-link {
        font-size: 2rem;
        padding: 1.5rem 3rem;
        color: rgba(30, 22, 86, 0.2);
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        border-color: #e1e2e9;
        border-top: none;
        border-left: none;
      }
      .nav-link.active {
        color: rgba(30, 22, 86, 1);
        border-bottom: transparent;
      }
    }
  }
}

.verticaltabs .tabs {
  border: none;
  border: 1px solid #e1e1e9;
  border-left: none;
  border-right: none;
}
.verticaltabs .tabs > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.verticaltabs .tabcontainer {
  background-color: #fafafa;
  margin-top: 20px;
}
.verticaltabs .tabs > ul li {
  display: block;
  text-align: left;
  border-bottom: 1px solid #e1e1e9;
}
.verticaltabs .tabs > ul li {
}

.verticaltabs .tabs > ul li:last-child {
  border-bottom: none;
}
.verticaltabs .tabs > ul li a {
  display: block;
  text-decoration: none;
  padding: 1.2rem 3rem;
  color: #1e1656;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}
.verticaltabs .tabs > ul li a.active {
  background: #fafafa;
  color: #1e1656;
}
.verticaltabs .tabs > ul li a:hover:not(.active) {
  color: #1e1656;
}
.verticaltabs .tabs .verticaltabs__cont {
  background: #fafafa;
  padding: 0;
  display: none;
}
.verticaltabs .tabs .verticaltabs__cont.active {
  display: block;
}
@media (min-width: 768px) {
  .verticaltabs .tabs {
    display: flex;
  }
  .verticaltabs .tabs > ul {
    width: 40%;
  }
  .verticaltabs .tabcontainer {
    width: 60%;
    margin-top: 0;
  }
  .verticaltabs .inner_info {
    padding: 30px;
  }
}

/*======= entityTab css end here =======*/

/*====== Glance Block css start here ====== */
.glance-block {
  &.borderTop {
    border-top: 1px solid #e1e1e9;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
  }
  .glance-item {
    position: relative;
    font-family: 'Roboto Slab', serif;
    .glance-item--inner {
      display: inline-block;
      .glance-name {
        color: #1e1656;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .glance-number {
        font-size: 1.5rem;
        color: #1e1656;
        font-weight: 600;
      }
    }
  }
}
/*====== Glance Block css start here ====== */

/*====== Event Block css start here ====== */
.eventList {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6rem;
  &.eventList__slide {
    grid-gap: 0;
    .eventList__item {
      padding: 0 40px;
    }
    @media (max-width: 768px) {
      .eventList__item {
        padding: 0 10px;
      }
    }
  }
  .eventList__item {
    padding: 0;
    margin: 0;
    a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: inherit;
      .eventList__item--img {
        margin-bottom: 1.9rem;
      }
      .eventList__item--date {
        position: relative;
        display: flex;
        padding-bottom: 0.8rem;
        margin-bottom: 0.4rem;
        .eventDate {
          display: flex;
          margin-right: 15px;
          padding-right: 15px;
          position: relative;
          span {
            color: #1c1953;
            i {
              font-style: normal;
              display: block;
            }
          }
          .date {
            font-size: 32px;
            line-height: 0.8;
            margin-right: 10px;
          }
          .montYear {
            font-size: 0.8rem;
            line-height: 1.1;
          }
          &:after {
            content: '';
            position: absolute;
            right: -4px;
            top: 50%;
            height: 2px;
            width: 8px;
            margin-top: -1px;
            background-color: #1c1953;
            -webkit-transition: width 0.3s;
            transition: width 0.3s;
          }
          &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
              display: none;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 40px;
          background-color: #e1e1e9;
          -webkit-transition: width 0.3s;
          transition: width 0.3s;
        }
      }
      @media (max-width: 768px) {
        .eventList__item--date {
          padding-bottom: 0.8rem;
          margin-bottom: 0.4rem;
          .eventDate {
            .date {
              font-size: 1.2rem;
              line-height: 0.8;
              margin-right: 10px;
            }
            .montYear {
              font-size: 0.6rem;
              line-height: 1.1;
            }
          }
        }
      }
      .eventList__item--tag {
        color: #307dbd;
        font-size: 11px;
        padding: 0.3rem 0 0;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
      }
      .eventList__item--entity {
        font-size: 0.9rem;
        color: #1c1953;
        padding: 0.1rem 0;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
      }
      .eventList__item--title {
        font-size: 1.3rem;
        color: #1c1953;
        padding: 0.3rem 0;
        line-height: 1.4;
      }
      @media (max-width: 768px) {
        .eventList__item--title {
          font-size: 1rem;
        }
      }
    }
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
}
/*====== Event Block css start here ====== */

/*====== News Block css start here ====== */
.newsList {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6rem;
  &.newsList__slide {
    grid-gap: 0;
    .newsList__item {
      padding: 0 40px;
    }
    @media (max-width: 768px) {
      .newsList__item {
        padding: 0 10px;
      }
    }
  }
  .newsList__item {
    padding: 0;
    margin: 0;
    a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: inherit;
      .newsList__item--img {
        margin-bottom: 1.9rem;
      }
      .newsList__item--tag {
        color: #307dbd;
        font-size: 11px;
        padding: 0.3rem 0 0;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
      }
      .newsList__item--entity {
        font-size: 0.9rem;
        color: #1c1953;
        padding: 0.1rem 0;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
      }
      .newsList__item--title {
        font-size: 1.3rem;
        color: #1c1953;
        padding: 0.3rem 0;
        line-height: 1.4;
      }
      .newsList__item--date {
        color: #555555;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
      }
      @media (max-width: 768px) {
        .newsList__item--title {
          font-size: 1rem;
        }
      }
    }
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
}
/*====== News Block css start here ======*/

/*====== Glance Block css start here ======*/
.section-glance {
  background-position: bottom center;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 136, 206, 0.8);
    z-index: 0;
  }
  .glance {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    .glance__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 3rem;
      .glance__list___item {
        font-family: 'Roboto Slab', serif;
        .glance-number {
          font-size: 5.8rem;
          font-weight: 600;
          color: #ffffff;
        }
        .glance-name {
          font-size: 1.8rem;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
        }
      }
    }
    @media (max-width: 1200px) {
      .glance__list {
        grid-template-columns: auto auto auto;
        grid-row-gap: 3rem;
        .glance__list___item {
          .glance-number {
            font-size: 3rem;
            text-align: center;
          }
          .glance-name {
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .glance__list {
        grid-template-columns: auto auto;
        grid-row-gap: 3rem;
        .glance__list___item {
          .glance-number {
            font-size: 3rem;
            text-align: center;
          }
          .glance-name {
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}
/*====== Glance Block css start here ======*/
/*====== Focus Areas Block css start here ======*/
.focus-areas__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 540px) {
  .focus-areas__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 992px) {
  .focus-areas__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .focus-areas__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1440px) {
  .focus-areas__list {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
}
.focus-areas__list___item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  .focus-areas__list___item--img {
    position: relative;
    figure {
      padding: 0;
      margin: 0;
      img {
        border-radius: 10px;
      }
    }
    &:after {
      content: '';
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 50%
      );
      width: 100%;
      height: 39%;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all 0.5s;
      border-radius: 6px;
    }
  }
  .focus-areas__list___item--info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 5;
    transition: 0.5s;
    .focus-areas--title {
      margin-bottom: 10px;
      color: #ffffff;
    }
  }
}
/*====== Focus Areas Block css end here ======*/
/*====== Footer Block css start here ======*/
.footer {
  .footer__block {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .footer__block--logo {
      margin-bottom: 1.5rem;
    }
    .footer__block--info {
      .contact-info {
        margin-bottom: 1.5rem;
        p {
          font-size: 0.75rem;
          font-weight: 400;
          padding: 0;
          color: #5bc6e8;
          margin-bottom: 0.5rem;
        }
      }
      .social-icon {
        padding: 0;
        margin: 0;
        a {
          color: #5bc6e8;
          font-size: 1.2rem;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .footer__block___links {
      margin-bottom: 1.5rem;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 0.5rem;
          a {
            color: #ffffff;
            font-size: 0.75rem;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .footer__block {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  .footer__btm {
    border-top: 1px solid #464373;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .footer__legal {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      p {
        font-size: 0.75rem;
        font-weight: 300;
        padding: 0;
        margin: 0;
        color: #ffffff;
      }
      @media (max-width: 640px) {
        .mada_logo {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          margin: 0 auto;
        }
      }
      .nav-legal {
        ul {
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            position: relative;
            a {
              color: #ffffff;
              font-size: 0.75rem;
              cursor: pointer;
              text-decoration: none;
              font-weight: 300;
              padding-right: 10px;
              margin-right: 10px;
              border-right: 1px solid #fff;
              &:hover {
                text-decoration: underline;
              }
            }
            &:last-child a {
              padding-right: 0;
              margin-right: 0;
              border-right: none;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .footer__btm {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
    }
  }
}
/*====== Footer Block css end here ======*/
/*====== Header Block css start here ======*/
.header {
  width: 100%;
  background: #fff;
  z-index: 9;
  &.sticky {
    min-height: 0;
    max-height: 125px;
    box-shadow: -1px 3px 5px 0px rgb(0 0 0 / 20%);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    top: 0;
    left: 0;
    position: fixed;
    .header-wrap {
      height: 68px;
      transition: width 2s;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      -webkit-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
      background-color: #fff;
      background-image: none !important;
      .logo {
        a {
          img {
            max-height: 42px;
            transition: height 2s;
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            display: none;
            &.sticky-logo {
              display: block;
            }
          }
        }
      }
      .nav-global {
        align-items: center;
        .nav-main {
          li {
            a {
              color: #1e1656;
              font-weight: 400;
              &:hover {
                &:after {
                  border-top-color: rgb(204, 204, 204);
                  border-right-color: rgb(204, 204, 204);
                  bottom: -25px;
                }
              }
            }
          }
        }
        .nav-sub {
          ul {
            li {
              a {
                color: #1e1656;
                font-weight: 400;
              }
              ul {
                li {
                  a {
                    color: #1e1656;
                    font-weight: 400;
                  }
                }
              }
              i,
              span {
                color: #1e1656;
              }
            }
          }
        }
      }
    }
  }
  .header-wrap {
    font-family: 'Roboto Slab', serif;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    align-items: flex-start;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    .logo {
      a {
        display: flex;
        padding-top: 5px;
        img {
          max-height: 40px;
          width: 100%;
          -webkit-transition: all 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
          &.sticky-logo {
            display: none;
          }
        }
        @media (min-width: 1200px) {
          img {
            max-height: 60px;
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
    .nav-global {
      .nav-main {
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          display: inline-block;
          a {
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            padding: 0px 5px;
            position: relative;
            height: 100%;
            &:hover {
              color: #5bc6e8;
            }
            &:after {
              width: 10px;
              height: 10px;
              display: inline-block;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              content: '';
              background-color: rgb(255, 255, 255);
              border-width: 1px;
              border-style: solid;
              border-bottom-color: transparent;
              border-left-color: transparent;
              border-image: initial;
              border-top-color: #ffffff;
              border-right-color: #ffffff;
              position: absolute;
              bottom: -21px;
              left: 50%;
              margin-left: -5px;
              z-index: 1;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              opacity: 0;
            }
          }
          @media (min-width: 1200px) {
            a {
              font-size: 16px;
            }
          }
          @media (min-width: 1400px) {
            a {
              padding: 5px 10px;
            }
          }
          &.dropdown {
            a {
              &:hover {
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .nav-sub {
        padding-left: 1rem;
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 0px 4px;
            margin: 0;
            list-style: none;
            display: inline-block;
            ul {
              padding: 0;
              margin: 0;
              li {
                padding: 0;
                margin: 0;
                list-style: none;
                display: inline-block;
                a {
                  color: #ffffff;
                  font-size: 14px;
                  text-decoration: none;
                  padding: 0 2px;
                }
                &.active {
                  display: none;
                }
              }
            }
            span {
              color: #ffffff;
              font-size: 14px;
              text-decoration: none;
              padding: 0 1px;
              i {
                font-size: 1rem;
                cursor: pointer;
              }
            }
            i {
              color: #ffffff;
              cursor: pointer;
            }
            &.accessibility {
              font-family: 'Roboto', serif;
              font-weight: 300;
            }
            &.login {
              .dropdown-menu {
                min-width: auto;
                transform: translate(-30px, 26px) !important;
                li {
                  display: block;
                  width: 100%;
                  .dropdown-item {
                    display: block;
                    width: 100%;
                    padding: 0.25rem 1rem;
                    clear: both;
                    font-weight: 400;
                    color: #1e1656;
                    text-align: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    font-size: 0.8rem;
                    &:hover {
                      background-color: #e9ecef;
                    }
                  }
                  &:first-child {
                    a {
                      &:hover {
                        border-radius: 0.375rem 0.375rem 0 0;
                      }
                    }
                  }
                  &:last-child {
                    a {
                      &:hover {
                        border-radius: 0 0 0.375rem 0.375rem;
                      }
                    }
                  }
                }
                &.dropdown-toggle {
                  position: relative;
                  &:after {
                    position: absolute;
                    top: -4px;
                    left: 50%;
                    margin-left: -5px;
                    border-top-color: white;
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
      @media (min-width: 1400px) {
        .nav-sub {
          padding-left: 3rem;
        }
      }
    }
  }
  .header__dropdown {
    background: #ffffff;
    clear: both;
    overflow: hidden;
    height: 100%;
    transition: height 1s;
    // margin-top: 92px;
    position: relative;
    border-top: 1px solid rgb(204, 204, 204);
  }
  @media (max-width: 992px) {
    .header__dropdown {
      margin-top: 49px;
    }
  }
  @media (max-width: 767px) {
    .header__dropdown {
      position: fixed;
      width: 100%;
      padding: 0;
      margin: 0;
      right: 70px;
      top: 0;
      -webkit-transform: translateX(210%);
      transform: translateX(210%);
      display: block;
      height: 100vh !important;
      overflow: hidden;
      transition: all 1s ease;
      z-index: 12;
      padding-bottom: 60px;
    }
  }
  @media (max-width: 1200px) {
    .header__dropdown {
      &.is-active {
        height: calc(100vh - 300px) !important;
      }
    }
  }
  @media (max-width: 767px) {
    .header__dropdown {
      &.is-active {
        height: 100vh !important;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
  }
}
/*====== Header Dropdown css starts here ======*/
.header-block {
  padding: 50px 0;
  display: none;
  clear: both;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .header__box {
    padding: 0 40px;
    height: 100%;
    h3 {
      font-size: 1.2rem;
      position: relative;
      margin-bottom: 15px;
      color: #1e1656;
      font-family: 'Roboto', sans-serif;
    }
    .header_subnav {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: block;
          margin-bottom: 0.5rem;
          a {
            color: #1e1656;
            text-decoration: none;
            font-size: 0.9333333333rem;
            &:hover {
              text-decoration: underline;
              color: #157dba;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        @media (max-width: 767px) {
          li {
            margin-bottom: 8px;
          }
        }
      }
    }
    figure {
      margin-bottom: 22px;
      img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-device-width: 1440px) {
    .header__box {
      padding: 0 30px;
    }
  }
  @media (max-width: 1200px) {
    .header__box {
      padding: 0 20px;
    }
  }
  @media (max-width: 992px) {
    .header__box {
      padding: 0;
      border: none;
    }
  }
  hr {
    position: relative;
    border: none;
    height: 1px;
    margin: 8px 0;
    &:before {
      content: '';
      width: 11px;
      height: 1px;
      background: #79c5e6;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
    }
  }
  &.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 23px;
  }
}
@media (max-width: 1200px) {
  .header-block {
    padding: 0;
    height: calc(100% - 40px);
    margin: 40px 0;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .header-block {
    margin: 30px 20px;
    height: 100%;
    overflow: hidden;
  }
  .header-block {
    .container {
      overflow-y: scroll;
      height: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .header-block [class*='col-'] {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .header-block [class*='col-'] {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }
}
.header-block [class*='col-']:first-child {
  border: none;
}
.header-block [class*='col-']:first-child .header__box {
  padding-left: 0;
}
@media (max-width: 992px) {
  .header-block [class*='col-']:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}
.header-block [class*='col-']:last-child .header__box {
  padding-right: 0;
}
@media (max-width: 767px) {
  .header-block p {
    margin-bottom: 10px;
  }
}
.header-block [class*='col-'] {
  border-left: 1px solid #f2f2f2;
}
@media (max-width: 992px) {
  .header-block [class*='col-'] {
    border: none;
  }
}
/*====== Header Dropdown css end here ======*/
/*====== Header Search Block css start here ======*/
.modal-search {
  .modal-content {
    background: transparent;
    border: none;
    .searchbox__inner {
      width: 100%;
      border-bottom: 1px solid #1e1656;
      .form-outline {
        width: calc(100% - 44px);
        input {
          width: 100%;
          border-radius: 0;
          background-color: transparent;
          padding-left: 0;
          font-size: 1.5rem;
          font-weight: 300;
          color: #1e1656;
          &:focus {
            border: 0;
            outline: none;
            box-shadow: none;
          }
        }
      }
      i {
        color: #1e1656;
      }
    }
  }
  &.modal {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
  }
}
/*====== Header Search Block css end here ======*/
