<section class="m-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="pb-5">{{ title }} <a href="#" type="button" class="h-btn h-btn-link-primary float-end my-3">{{ link_viewmore }}</a></h1>
        
        <div class="eventList eventList__slide">
          {% if items %}
            {% for item in items %}
              {{ items }}
            {% endfor %}
          {% else %}
            {% for data in events.datas %}
              {% include 'molecules/cards/event.twig' with {
                "title": data.title,
                "entity": data.entity,
                "tag": data.tag,
                "img": data.img,
                "date_start": data.date_start,
                "date_end": data.date_end,
                "link_viewmore": data.link_viewmore,
                "url":data.url,
              } %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


