<section class="slider-home">
    {% if items %}
        {% for item in items %}
            {{ item }}
        {% endfor %}
    {% else %}
        {% for item in ['image','video','countdown','content', 'contentOneD', 'contentSM'] %}
            {% include 'molecules/slide/slider--home--'~item~'.twig' with {
                "media" : '../../../images/HBKUBuildingsVenues.jpg',
                "title" : 'Slide '~item~' title',
                "description" : '<p> HBKU showcases faculty and student research accomplishments <p>',
                "link" : '<a href="#" class="h-btn h-btn-link-primary">Read more</a>',
                "date" : '2024/10/10',
                "content" : '<div class="slider__detail"> <h3>International Conference on Visualization and Computer-human Interaction</h3> <a href="#" class="h-btn h-btn-link-primary">Read more</a></div>'
            } %}
        {% endfor %}
    {% endif %}
</section>
