<section class="m-wrap bg-muted-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="title_head pb-5">
         <h1 class="">{{ title }}</h1>
          {% if link %}
            {{ link }}
          {% endif %}
      </div>
        <div class="newsList newsList__slide">
          {% if items %}
            {% for item in items %}
              {{ item }}
            {% endfor %}
          {% else %}
            {% for data in news.datas %}
              {% include 'molecules/cards/news.twig' with {
                "title": data.title,
                "entity": data.entity,
                "tag": data.tag,
                "img": data.img,
                "date": data.date,
                "url" : data.url
              } %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
