<div class="eventDate">
    <span class="month">{{ month }}</span>
    <span class="date"><i>{{ day }}</i> <i>{% if same_month and not(same_date) %} {{ same_month }} {% endif %} </i></span>
    <span class="year">{{ year }}</span>
</div>
