<div class="wrapper">
    {% include 'organisms/block/Header.twig' %}
    {% include 'organisms/block/HomeBanner.twig' %}
    {% include 'organisms/block/Entity.twig' %}
    {% include 'organisms/block/Events.twig'  with {
        title: events.title,
        link: events.link,
    } %}
    {% include 'organisms/block/News.twig' with {
        title: news.title,
        link: news.link,
    } %}
    {% include 'organisms/block/Glance.twig' with {
        title: glance.title,
        description: glance.description,
    } %}
    {% include 'organisms/block/FocusAreas.twig' with {
        title : focus_area.title,
        description: focus_area.description
    } %}
    {% include 'organisms/block/EmailSubscription.twig' with {
        "title": "Join Our Mailing List",
        "sub_title": "Stay up to date with our latest news and events"
    } %}
    {% include 'organisms/block/Footer.twig' %}
</div>
